* {
    box-sizing: border-box;
  }
  .round {
      border-radius: 20px;
      padding-left: 20px;
      padding-right: 20px;
  }
  .card-img-overlays {
      position: absolute;
      bottom: 35%;
      text-align: center;
      color: #fff;
      left: 30px;
      font-weight: bolder;
  }
  img.card-img-top.img-fluid {
      border-radius: 20px;
  }
  span.mtext {
      margin-top: -22px;
      padding-left: 20px;
  }
  /* Style the search field */
  form.example input[type=text] {
      padding: 14px;
      font-size: 17px;
      border: none;
      float: left;
      width: 80%;
  }
  /* Style the submit button */
  form.example button {
      float: right;
      width: 13%;
      padding: 8px;
      background: #f180ab;
      color: white;
      font-size: 20px;
      border: none;
      cursor: pointer;
      border-radius: 15px;
      margin: 1%;
  }
  .bordermy {
      border-bottom: 2px solid #f180ab;
      width: 35%;
      margin-left: 10px;
  
  }
  form.example {
      box-shadow: 3px 6px 18px #00000026;
      border-radius: 10px !important;
      border: 2px solid #fff;
      /* width: 100%; */
  }
  select#sel1 {
      padding: 15px;
      box-shadow: 3px 6px 18px #00000026;
      border: 0px;
      border-radius: 10px;
  
  }
  :focus-visible {
      outline: -webkit-focus-ring-color auto 1px;
      outline-color: -webkit-focus-ring-color;
      outline-style: auto;
      outline-width: 0px;
  }
  :focus {
      border:none !important;
  }
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .mylove{
    margin-bottom: -75px !important;
  
  }
  .cat-img {
    width: 270px;
    height: 270px;
  }
  .star-img {
    margin-top: 15px;
  }
  .form-check-input:checked {
    padding: 10px;
    background-color: #f180ab;
    border-color: #f180ab;
}
.form-check .form-check-input {
    float: left;
    margin-left: -1.5em;
    padding: 10px;
}
.form-check {
    display: block;
    min-height: 2.5rem;
    padding-left: 1.5em;
    margin-bottom: 0.125rem;
}
button.btn.btsk {
    background-color: #F180AB;
    color: #fff;
    font-weight: 500;
    box-shadow: 2px 10px 11px #ffabc4ab;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    font-size: 18px;
}

.list-text {
    font-size: 36px;
    font-weight: 600;
}
.cat-listing h4 {
    padding-left: 50px;
}