* {
    box-sizing: border-box;
  }
  i.fas.fa-times {
      position: absolute;
      right: 70px;
      top: 15px;
      background-color: #d7d7d7c9;
      font-size: 18px;
      border-radius: 30px;
      /* padding: 10px; */
      padding-left: 11px;
      padding-right: 11px;
      padding-top: 7px;
      padding-bottom: 7px;
  }
  .round {
      border-radius: 20px;
      padding-left: 20px;
      padding-right: 20px;
  }
  .card-img-overlays {
      position: absolute;
      bottom: 28%;
      text-align: center;
      color: #fff;
      left: 20px;
      font-weight: bolder;
  }
  img.card-img-top.img-fluid {
      border-radius: 20px;
      /* height: 250px; */
  }
  .wish-img {
      height: 250px;
  }
  span.mtext {
      margin-top: -22px;
      padding-left: 20px;
  }

  .wish-text {
    font-size: 65px;
    font-weight: 500;
  }

  .like-img{
    position: relative;
    right: 5px;
  }
  .item-name {
      font-size: 18px;
      font-weight: 500;
      margin-top: 2%;
  }
  .box-images {
    color: #49516F
  }
  .locat {
      margin-left: 1px;
  }

  .wishlist-page {
      color:#555555
  }