* {
    box-sizing: border-box;
  }
.list-hero .list-hero-content-d {
    display: auto;
}
.list-hero .list-hero-content-m {
    display: none;
}
  .round {
      border-radius: 20px;
      padding-left: 20px;
      padding-right: 20px;
  }
  .card-img-overlays {
      position: absolute;
      bottom: 35%;
      text-align: center;
      color: #fff;
      left: 30px;
      font-weight: bolder;
  }
  img.card-img-top.img-fluid {
      border-radius: 20px;
  }
  span.mtext {
      margin-top: -22px;
      padding-left: 20px;
  }
  /* Style the search field */
  form.example input[type=text] {
      padding: 14px;
      font-size: 17px;
      border: none;
      float: left;
      width: 80%;
  }
  /* Style the submit button */
  form.example button {
      float: right;
      width: 13%;
      padding: 8px;
      background: #f180ab;
      color: white;
      font-size: 20px;
      border: none;
      cursor: pointer;
      border-radius: 15px;
      margin: 1%;
      position: relative;
    top: 5px;
  }
  .borderme {
      border-bottom: 2px solid #f180ab;
      width: 50%;
      margin-left: 10px;
      cursor: pointer;
  
  }
  .nonborderme {
    width: 50%;
    margin-left: 10px;
    cursor: pointer;

}
  form.example {
      box-shadow: 3px 6px 18px #00000026;
      border-radius: 10px !important;
      border: 2px solid #fff;
      /* width: 100%; */
  }
  select#sel1 {
      padding: 15px;
      box-shadow: 3px 6px 18px #00000026;
      border: 0px;
      border-radius: 10px;
  
  }
  :focus-visible {
      outline: -webkit-focus-ring-color auto 1px;
      outline-color: -webkit-focus-ring-color;
      outline-style: auto;
      outline-width: 0px;
  }
  :focus {
      border:none !important;
  }
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .mylove{
    margin-bottom: -75px !important;
  
  }
  .cat-img {
    width: 270px;
    height: 270px;
  }
  .star-img {
    margin-top: 15px;
  }
  .form-check-input:checked {
    padding: 10px;
    background-color: #f180ab;
    border-color: #f180ab;
}
.form-check .form-check-input {
    float: left;
    margin-left: -1.5em;
    padding: 10px;
}
.form-check {
    display: block;
    min-height: 2.5rem;
    padding-left: 1.5em;
    margin-bottom: 0.125rem;
}
button.btn.btsk {
    background-color: #F180AB;
    color: #fff;
    font-weight: 500;
    box-shadow: 2px 10px 11px #ffabc4ab;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    font-size: 18px;
}
.list-text {
    font-size: 36px;
    font-weight: 600;
}

.form-check-label {
    position: relative;
    top: 6px;
    font-size: 13px;
}
.pt-2 {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 0.5em;
}



/* New CSS */
.form-select {
    font-weight: 500;
    font-size: 1rem;
    color: #49516F;
}
.categories {
    display: inline-block;
    padding-right: 3rem;
    color: #49516F;
    opacity: 0.5;
}


@media screen and (max-width: 768px) {
    /* #list .items-list {
        padding: 0 !important;
    } */
    .items-list {
        padding: 0rem !important;
    }
    .items-list .card-img {
        width: auto !important;
        height: auto !important;
    }
    .items-list .card-img .cat-img {
        width: 400px !important;
        height: 450px !important;
    }
    .list-options {
        padding-left: 5vw !important;
        padding-right: 5vw !important;
    }
    #list-line {
        /* width: 100% !important; */
        margin-right: 0rem !important;
        margin-left: 0rem !important;
    }
    #list-cat {
        padding-right: 0 !important;
        padding-left: 0 !important;
        padding-bottom: 1rem !important;
        margin-bottom: 0px !important;
        width: 100% !important;
        overflow-x: scroll;
        white-space: nowrap;

    }
    #list-cat .categories {
        padding-right: 20px;
        /* width: 90% !important; */
    }
    .nonborderme {
        margin-left: 0px !important;
    }
    .mylove {
    }
    .example {
        margin-bottom: 1rem !important;
    }
    #list-example-input {
        margin: 0 !important;
    }
    .list-hero {
        position: relative;
    }
    .list-hero .list-hero-content-d {
        display: none;
    }
    .list-hero-content-m .text-white {
        width: 50vw !important;
        scale: 1.5;
        padding-bottom: 1rem !important;
        text-align: center;
        display: block;
    }
    .list-hero .list-hero-content-m {
        display: block;
        width: 50vw !important;
        transform: translateX(-100%);
    }
    .tw1 {
        padding-left: 15px !important;
    }

}