@media screen and (max-width: 768px) {

    .hero {
        display: none;
    }


    /* Header Styles */
    .header, .navbar {
        background-color: rgba(255, 71, 126, 0.5) !important;
    }
    .navbar {
        padding-top: 2vh;
        padding-bottom: 2vh;
    }
    .top-header, .logocenter {
        display: none;
    }
    /* Footer Styles */
    #footer-end-1, #footer-end-2 {
        font-size: 0.8rem;
        text-align: right !important;
    }
    .footer-container .float-end {
        text-align: center !important;
    }
    .footer-container .mt-3 {
        scale: 0.8;
    }
    .footer-container hr {
        margin-top: 0 !important;
    }
    .footer-container .px-5 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .footer-container .pad-foot {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .footer-container .col-sm-6 {
        width: auto;
        padding-top: 2rem !important;
        max-width: 50vw !important;
        /* padding: 1rem !important; */
    }
    .footer-container .pad-m-2 {
        padding-left: 10vw !important;
    }

    /* Onboarding */
    .hero1 {
        display: none;
    }
    .logo-img {
        max-height: 150px !important;
        transform: scale(2);
    }
    .heropy {
        padding-right: 5% !important;
    }
    .width-50 {
        max-width: 50% !important;
        padding-top: 1rem !important;
    }
    .onboarding-flex-m {
        justify-content: center;
    }
    .onboarding-flex-m .py-md-5, .onboarding-flex-m .pb-5 {
        justify-content: center;
        display: inline-flex;
    }
    .onboarding-flex-m .col-md-4 {
        max-width: 50% !important;
        padding-top: 1rem !important;
    }

    /* Login */
    .login-hero {
        display: none;
    }
    #login .hr {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #login hr {
        width: 80%;
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }
    #login .input-group {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .login-input {
        margin: 0 !important;
        top: auto !important;
        left: auto !important;
    }
    .input-icon {
        /* padding: 0 !important; */
    }
    #login .pt-5 {
        padding-top: 1rem !important;
        margin-top: 10px !important;
    }
    #login .pt-5 div {
        width: auto !important;
    }


    /* Register */
    #register label {
        padding-left: 0.75rem !important;
        padding-top: 1rem !important;
    }
    #register input {
        margin: 10px !important;
    }
}